
.reservationForm {
  align-content: center;
  text-align: center;
}

mat-form-field {
  width: 30%;
}

a {
  margin-left: 8px;
  position: absolute;
}
  
.saveButton {
  margin-top: 16px;
  margin-bottom: 24px;
}

.warning {
  color: red;
}
