<div class="customerForm">
  <h1>Kunde bearbeiten</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="customerForm" *ngIf="customer">

    <p></p>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required [(ngModel)]="customer.name">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Geburtsdatum auswählen" formControlName="birthday" [value]="getBirthday(customer.birthday)" [(ngModel)]="customer.birthday" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Geschlecht" formControlName="gender" [(ngModel)]="customer.gender" required>
          <mat-option *ngFor="let g of genderOptions" [value]="g.value">
            {{g.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Rechnungsadresse" formControlName="billingAddress" [(ngModel)]="customer.billingAddress" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Firmenname" formControlName="companyName" [(ngModel)]="customer.companyName">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Notiz" formControlName="note" [(ngModel)]="customer.note">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Rabatt (%)" formControlName="discount" [(ngModel)]="customer.discount"/>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Telefonnummer" formControlName="telephonenumber" [(ngModel)]="customer.telephoneNumber">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="E-Mail" type="email" formControlName="email" [(ngModel)]="customer.email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Web" formControlName="web" [(ngModel)]="customer.web">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Fax" formControlName="fax" [(ngModel)]="customer.fax">
      </mat-form-field>
    </div>

    <button mat-flat-button color="accent" type="submit" class="saveButton" [disabled]="!customerForm.valid">Speichern</button>
    <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </form>
</div>

