<h2>
  Rechnungen
</h2>

<div>
  <mat-form-field>
    <input matInput placeholder="Suche" (input)="onSearchChange($event.target.value)">
  </mat-form-field>
</div>

<mat-table [dataSource]="allBills" class="mat-elevation-z8" dense="true" flexsy>

  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let bill"> {{bill.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Abgesagt">
    <mat-header-cell *matHeaderCellDef> Abgesagt </mat-header-cell>
    <mat-cell *matCellDef="let bill"> {{bill.cancelled}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Amount">
    <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
    <mat-cell *matCellDef="let bill"> {{bill.amount}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Reservation">
    <mat-header-cell *matHeaderCellDef> Reservation </mat-header-cell>
    <mat-cell *matCellDef="let bill">
      <div>
        <p *ngFor="let reservation of bill.reservations">
         Id: {{reservation.id}}, start date: {{reservation.startDate}}, end date: {{reservation.endDate}}
        </p>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Payment">
    <mat-header-cell *matHeaderCellDef> Payment </mat-header-cell>
    <mat-cell *matCellDef="let bill">
      <div>
        <p *ngFor="let payment of bill.payments">
         id: {{payment.id}}, timestamp: {{payment.timestamp}}, email sent: {{payment.emailSent}}
        </p>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Reminder">
    <mat-header-cell *matHeaderCellDef> Reminder </mat-header-cell>
    <mat-cell *matCellDef="let bill">
      <div>
        <p *ngFor="let reminder of bill.reminders">
         Send date: {{reminder.timestamp}}, email sent: {{reminder.emailSent}}
        </p>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetailForBill(row)"></mat-row>
</mat-table>

<a class="fabBottomRight" mat-fab routerLink="/bills/add"><mat-icon svgIcon="add"></mat-icon></a>
