.mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 4%;
}

.mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
  flex: 0 0 6%;
}

.mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
  flex: 0 0 5%;
}

.mat-cell:nth-child(8),
mat-header-cell:nth-child(8) {
  flex: 0 0 4%;
}

::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial !important;
}

.fabBottomRight {
  z-index: 99;
  position : fixed;
  align-self : flex-end;
  top: 80px;
  right: 20px;
}

mat-row {
  cursor: pointer;
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-Id {
  flex: 0 0 25% !important;
  max-width: 25px !important; 
}

.mat-column-Name {
  flex: 0 0 25% !important;
  max-width: 130px !important; 
}

.mat-column-Geburtsdatum {
  flex: 0 0 25% !important;
  max-width: 100px !important; 
}

.mat-column-Geschlecht {
  flex: 0 0 25% !important;
  max-width: 80px !important; 
}

.mat-column-Rechnungsadresse {
  flex: 0 0 25% !important;
  max-width: 120px !important; 
}

.mat-column-Firmenname {
  flex: 0 0 25% !important;
  max-width: 90px !important; 
}

.mat-column-Rabatt {
  flex: 0 0 25% !important;
  max-width: 45px !important; 
}

.mat-column-Telefonnummer {
  flex: 0 0 25% !important;
  max-width: 100px !important; 
}

.mat-column-E-Mail {
  flex: 0 0 25% !important;
  max-width: 100px !important; 
}

.mat-column-Web {
  flex: 0 0 25% !important;
  max-width: 45px !important; 
}

.mat-column-Fax {
  flex: 0 0 25% !important;
  max-width: 45px !important; 
}