<h2>
  Logs
</h2>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" dense="true" matSort matSortActive="id" matSortDirection="desc" flexsy>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
    <mat-cell *matCellDef="let log"> {{log.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Mitarbeiter">
    <mat-header-cell *matHeaderCellDef> Mitarbeiter </mat-header-cell>
    <mat-cell *matCellDef="let log"> {{log.systemuser.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Text">
    <mat-header-cell *matHeaderCellDef> Text </mat-header-cell>
    <mat-cell *matCellDef="let log"> {{log.text}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Zeit">
    <mat-header-cell *matHeaderCellDef> Zeit </mat-header-cell>
    <mat-cell *matCellDef="let log"> {{getDate(log.timestamp)}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
